@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Completed";
}
<div class="container col-sm-4 mt-5 p-4 text-center">
    <i class="bi bi-check2-circle text-success" style="font-size: 200px;"></i>
    <p style="font-size: 30px;"><b>Your order is complete!</b></p>
    <a asp-controller="Movie" asp-action="Index" class="btn btn-success text-light mt-4">Go To Home</a>
</div>
